/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5vh;
}

main {
  margin: 0 5% 0 5%;
}

h1, h2 {
  text-align: center;
}


.Unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #aaa;
}

.Vert {
  flex-direction: column;
}

#LandingImg {
  width: 95vh;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background: #bbb;
}

.Titles {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  padding: 5vh 5vw 5vh 5vw;
}

/* Stack items when screen is too narrow */
@media (max-width: 800px) {
  #Welcome {
    flex-direction: column;
  }

  #Titles {
    width: 100%; /* Optional: make it full width when stacked */
  }

  #Info {
    flex-direction: column;
  }

  #ScrollBanner {
    width: 100vw;
    height: 300px;
    background: #999;
  }
}

@media (min-width: 801px) {
  #ScrollBanner {
    min-width: 250px;
    background: #888;
  }

  #Info {
    flex-direction: row-reverse;
  }
}

#Map {
  max-width: 500px;
  min-width: 200px; 
  aspect-ratio: 1;
  flex: 1;

  justify-content: center;
  align-items: center;
  
  background: #bbb;
}

#Spotify {
  max-width: 500px;
  min-width: 200px; 
  aspect-ratio: 1;
  flex: 1;

  justify-content: center;
  align-items: center;
  
  background: #bbb;
}