/* General Styles */
html{
  scroll-snap-type: y mandatory;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5vh;
}

main {
  margin: 0;
}

h1, h2, h3, h4 {
  text-align: center;
  max-width: 90%;
}

.Page{
  scroll-snap-align: start;
}

.Unit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #aaa;
  border-radius: 5vh;
}

.Vert {
  display: flex;
  flex-direction: column;
}

.Titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Green{
  background-color: rgb(5, 56, 25);
}

.Gold{
  background: #FFFF00;
  background: linear-gradient(45deg, rgba(255, 255, 0, 1) 0%, rgba(255, 200, 0, 1) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 0, 1) 100%);
}

.White{
  background-color: #fff;
}

.Black{
  background-color: #000;
}


#Info {
  display: flex;
}


/* Stack items when screen is too narrow */
@media (max-width: 1440px) {
  #Welcome {
    flex-direction: column;
    height: 100vh;
  }

  #Welcome .Titles{
    width: 100vw;
    height: calc(100vh - 100vw);
  }

  #LandingImg {
    width: 100vw;
    max-height: 75vh;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #bbb;
  }

  #Info {
    flex-direction: column;
  }

  #ScrollBanner {
    width: 100vw;
    height: 25vh;
    background: #515;
  }

  #Calendar{
    display: flex;
    flex-direction: row;
    height: 25vh;
  }

  #CountDown{
    background-color: #555;
    display: flex;
    width: 50vw;
    height: 25vh;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #Calendar img{
    background-color: #550;
    min-width: 50vw;
    min-height: 25vh;
  }

  #Explanation{
    visibility: hidden;
    height: 0;
  }

  #Location {
    width: 100vw;
    height: 25vh;
  }

  #Colours {
    height: 25vh;
    width: 100vw;
    border-radius: 6.25vw;
  }

  #Colours p{
    height: 100%;
    width: 25vw;
    border-radius: 6.25vw;
  }
}



@media (min-width: 1441px) {
  .WidescreenVert {
    flex-direction: row-reverse;
    width: 25vw;
  }

  #ScrollBanner {
    width: 25vw;
    height: 100vh;
    background: #151;
  }

  #LandingImg {
    width: 100vh;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: #bbb;
  }
  
  #Info {
    flex-direction: row;
  }
  #Map {
    width: 25vw;
    height: 50vh;
  }

  #Location{
    width: 50vw;
    height: 50vh;
  }

  #CountDown{
    background-color: #555;
    display: flex;
    width: 25vw;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #Calendar img{
    background-color: #550;
    min-width: 25vw;
    min-height: 50vh;
  }

  #Explanation{
    width: 50vw;
    height: 25vh;
  }

  #Colours{
    height: 25vh;
    width: 50vw;
  }

  #Colours p{
    height: 25vh;
    width: 12.5vw;
    border-radius: 3.125vw;
  }
}


#Map {
  justify-content: center;
  align-items: center;
  
  background: #bbb;
}





#Spotify {
  width: 25vw;
  aspect-ratio: 1;
  flex: 1;

  justify-content: center;
  align-items: center;
  
  background: #bbb;
}